# This file itself
/.github/CODEOWNERS     @ROCm/TheRock-infra-admins

# Regularly updated submodules
/rocm-libraries         @ROCm/TheRock-infra-write
/rocm-systems           @ROCm/TheRock-infra-write

# New patches are strongly discouraged. See patches/README.md.
/patches/               @ScottTodd @marbre
